**/.deps
**/.libs
**/Makefile
**/Makefile.in
*.la
*.lo
*.o
*.stamp
ABOUT-NLS
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
data/mime/footprints.xml
data/footprints.desktop
depcomp
footprints.sublime-workspace
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
m4
missing
po/.intltool-merge-cache
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/quot.sed
po/remove-potcdate.sin
po/Rules-quot
po/stamp-it
stamp-h1
